services:
    web:
        build: .
        command: uvicorn backend.main:app --host 0.0.0.0 --port 8000 --reload
        depends_on:
            vllm:
                condition: service_healthy
            db:
                condition: service_started
        volumes:
            - .:/app
        ports:
            - "8000:8000"
        restart: on-failure:3

    db:
        image: postgres:16
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        env_file:
            - .env
        environment:
            - POSTGRES_PASSWORD=${DB_PASSWORD}
            - POSTGRES_USER=${DB_USER}
            - POSTGRES_DB=${DB_NAME}
        ports:
            - "5432:5432"
        restart: always

    pgadmin:
        image: dpage/pgadmin4
        environment:
            PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
            PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
        ports:
            - "5050:80"
        depends_on:
            - db
        volumes:
            - pgadmin_data:/var/lib/pgadmin

    vllm:
        image: vllm/vllm-openai:latest
        command: --model Qwen/Qwen2.5-1.5B-Instruct --gpu-memory-utilization 0.7
        deploy:
            resources:
                reservations:
                    devices:
                        - capabilities: [ gpu ]
        environment:
            - NVIDIA_VISIBLE_DEVICES=all
        volumes:
            - hf_cache:/root/.cache/huggingface
        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:8000/v1/models" ]
            interval: 10s
            timeout: 30s
            retries: 10
            start_period: 20s

    frontend:
      build: ./frontend
      volumes:
        - ./frontend:/app
        - node_modules:/app/node_modules
      ports:
        - "3000:3000"
      environment:
        - VITE_BACKEND_SERVER_URL=http://backend:8000

volumes:
    postgres_data:
    hf_cache:
    pgadmin_data:
    node_modules:
